.App {
  text-align: center;
  font-family: "Bagel";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Bagel";
  src: url('/src/assets/fonts/BagelFatOne-Regular.ttf')
}

@font-face {
  font-family: "Chosun";
  src: url('/src/assets/fonts/ChosunCentennial.ttf')
}